@import url('https://fonts.googleapis.com/css?family=Alike+Angular');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

html{
}

body{
	overflow-y: scroll;
	font-family: 'Alike Angular', serif;
}

#wrapper{
	margin: 0 auto;
	
}

header{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #460e56;
	height: 5vh;
	width: 200vh;
	padding: 4px;
	display: inline-flex;

}


#header-title{
	font-family: 'Abril Fatface';
	margin-left: 1.3em;
	margin-top: 0;
	line-height: 50px;
	font-size: 3vh;
	color: white;
}

#search-bar-container{
	display: inline-flex;
	position:fixed;
	float:left;
	margin-left: 79em;
	height: 3vh;
	margin-top: 1vh;
}
#search-bar{
	float: right;
    border: 0.1em solid #ddd;
    border-radius: 0.2em 0 0 0.2em;
    font-size: 1.3vh;
	width: 35vh;
	
	padding: 0.5em;
	outline: 0;
}

#search-bar:hover,
#search-bar:focus{
	border-color: #ccc;
}

#search-bar-button{
	font-size: inherit;
	border: 0.1em solid #ddd;
	border-radius: 0 0.2em 0.2em 0;
	outline: 0;
}
#search-bar-button:hover{
	background-color: #ccc;
	border-color: #ccc;
}

.right-menu-container{
	position: fixed;
	display: block;
	margin-top: 7vh;
	margin-left: 178vh;
}

.menu-item-container{
	margin-top: 10px;
}

#new-post-button{
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;
    border: none; 
    cursor: pointer;
    outline: 0;
    margin-top: 0.2vh;
    margin-left: 10vh;
}

#new-post-container{
	display: inline-flex;
	margin-left: -3vh;
}

.new-post-label{
	font-size: 2vh;
	color: #fff;
	margin-top: 1.1vh;
	font-family: 'Abril Fatface';
}

.row-of-three{
	margin-top: 2em;
	display: inline-flex;
}

.body-container{
	width: 70%;
	margin-left: 4em;
  	display: inline-box;
  	
}

.post-container{
	margin: 2em 2em 0.5em 2em;
	width: 32em;
	height: 32em;
	box-shadow: 0 0 11px rgba(0,0,0,0.5);
}

.post-header-container{
	display: inline-flex;
}

.image-container{
	width: 4em;
	height: 4em;
	margin-bottom: 0.5em;
	background-color: #ddd;
	border-radius: 2em; 
}

.user-info-container{
	margin-left: 0.5em;
	padding: 0.5em 0 0 0.5em;
	display: inline-flex;
}

.username{
	margin-top: 0.3em;
	margin-left: 0.5em;
	font-size: 16px;
}

.geolocation{
	margin-top: 1.6em;
	margin-left: -4.5em;
	color: #888;
	font-size: 16px;
}

.share-button{
	background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;
    border: none; 
    cursor: pointer;
    outline: 0;
	margin-left: 20em;
}

.post-image-container{
	display: inline-flex;
	background-color: #fff;
	width: 99.2%;
	height: 60%;
	box-shadow: 0 0 11px rgba(0,0,0,0.5);
	padding: 0.1em 0.1em 0.1em 0.1em;
}

.post-image{
	width: 100%;
	height: 100%;
}

.like-container{
	width: 4em;
	height: 4em;
	background-color: #fff;
	margin: 0.5em 0 0 0.5em;
	border-width: 2px;
	border-color: #ddd;
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.btn{
	background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;
    border: none; 
    cursor: pointer;
    outline: 0;
}

.like-button{
	background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;
    border: none; 
    cursor: pointer;
    outline: 0;
    margin-top: 0.5em;
    margin-left: 0.1em;
}

.post-footer-container{
	display: inline-flex;
	width: 100%;
	height: 10vh;
}

.post-info-container{
	margin-left: 1em;
}

.tag-textbox{
	margin-top: 0.5em;
}

.date-textbox{
	margin-left: 25em;
	margin-right: 1em;
	margin-top: -2.5em;
	font-size: 0.8em;
	color: #aaa;
}

.footer-container{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3vh;
	color: white;
	text-align: center;
	background-color: #460e56;
	display: inline-flex;
}

.footer-date{
	margin-left: -2em;
	margin-top: 0.2em;
	color: #888;
}

.footer-author-info{
	margin-left: 12em;
	margin-top: -2.2em;
	color: #888;
}

.footer-author-email{
	margin-right: -315vh;
	margin-top: -2.1em;
}

.auth-button{
	background-color: transparent; 
	cursor: pointer;
	margin: 13px 10px 10px 10px;
    border: 0;
    width: 80px;
    height: 30px;
    font-size: 1.2em;
    color: white;
	font-family: 'Abril Fatface';
}